#meeting_questions{
  table.list.issues{
    tr{
      td[colspan="8"]{
        p{
          text-align: left;
        }
      }
    }
  }
}

.ui-dialog{
  position: fixed !important;
}

.ui-widget-overlay{
  position: fixed  !important;
}