div#header h1 {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.rc-handle-container {
    position: relative; }

.rc-handle {
    position: absolute;
    width: 7px;
    cursor: ew-resize;
    margin-left: -3px;
    z-index: 2; }

table.CRZ td{
    padding-left: 2px !important;
}

table.rc-table-resizing {
    cursor: ew-resize; }
table.rc-table-resizing thead, table.rc-table-resizing thead > th, table.rc-table-resizing thead > th > a {
    cursor: ew-resize; }

table.issues td.project, table.issues td.author, table.issues td.assigned_to, table.issues td.start_date, table.issues td.due_date{
    white-space:normal !important;
}



